<!DOCTYPE html>
<html>
<head>
  <title>BrightIdeas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:errors] %>
      <div class="row justify-content-center">
        <ul class="col list-group text-center">
          <% flash[:errors].each do |e| %>
            <li class="list-group-item"><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= yield %>

    <% if current_user %>
      <div class="row">
        <form action="/sessions/<%=current_user.id%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input class="btn btn-link p-0" type="submit" value="Log Out">
        </form>
      </div>
    <% end %> 
  </div>
</body>
</html>