<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <p><%= secret.likes.count %> likes</p>
    <% if secret.users.include? current_user %>
    <%# Unlike form %>
        <form action="/likes" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="secret" value="<%= secret.id %>">
            <input type="submit" value="Unlike">
        </form>
    <% else %>
    <%# Like form %>
        <form action="/likes" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret" value="<%= secret.id %>">
            <input type="submit" value="Like">
        </form>
    <% end %>
    <% if current_user == secret.user %>
    <%# Delete Secret form %>
        <form action="<%= user_secret_path(current_user.id, secret.id) %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
    <hr>
<% end %>